:javascript
  $(function(){
    $('.user1').click(function() {
      console.log("hello");
    });
    
  });
  
%p=@first_leader.to_json
%p=@second_leader.to_json
%p=@third_leader.to_json
%p=@fourth_leader.to_json
%p=@half_round.to_json
%p=@game.to_json
%p=@first_leader_score.to_json
%p=@second_leader_score.to_json
%p=@third_leader_score.to_json
%p=@fourth_leader_score.to_json

-han_num = [0,1,2,3,4,5,6,7,8,9,10,11,12,13]
-hu_num = [0,20,25,30,40,50,60,70,80,90,100,110]
-dora_num = [0,1,2,3,4,5,6,7,8,9,10]
-naki_num = [0,1,2,3,4]

-member = [@first_leader, @second_leader, @third_leader, @fourth_leader]
-member.each do |leader|
  %span=leader.id 
  %span=leader.name
  %br
    -Hand.column_names.each_with_index do |h, index|
      - label = "checkbox_#{leader.id}_#{(index+1)}"
      - if h == 'dora' || h == 'red_dora' || h == 'ura_dora'
        = select_tag label, options_for_select(dora_num)
        = label_tag label, h
      - elsif h == 'han'
        = select_tag label, options_for_select(han_num)
        = label_tag label, h
      -elsif h == 'hu'
        = select_tag label, options_for_select(hu_num)
        = label_tag label, h
      -elsif h == 'pon' || h =='chi' || h == 'ankan' || h =='kakan' || h == 'minkan'
        = select_tag label, options_for_select(naki_num)
        = label_tag label, h
      - else
        = check_box_tag label
        = label_tag label, h
  %br




%h1 対局画面

.main
  .user1
    .name1
      =@first_leader.name
    .point1
      =@first_leader_score.point
    .chip1 
      =@first_leader_score.chip
  .user2
    .user2_sub
      .point2
        %p=@second_leader_score.point
      .chip2
        %p=@second_leader_score.chip
    .name2
      %p=@second_leader.name
  .center
  .user4 
    .name4
      %p=@fourth_leader.name
    .user4_sub
      .chip4
        %p=@fourth_leader_score.chip
      .point4  
        %p=@fourth_leader_score.point
  .user3 
    .name3
      =@third_leader.name
    .point3
      =@third_leader_score.point
    .chip3
      =@third_leader_score.chip

