//////////////////////////////////////////////////////
//////
////
//                 javascript
//                                               ////
//                                             //////
/////////////////////////////////////////////////////
:javascript
  $(function() {
    $('.user1').on('click', function() {
      $( '#modal1' ).fadeIn( 300 );
      return false;
    });

    $('.user2').on('click', function() {
      $( '#modal2' ).fadeIn( 300 );
      return false;
    });

    $('.user3').on('click', function() {
      $( '#modal3' ).fadeIn( 300 );
      return false;
    });

    $('.user4').on('click', function() {
      $( '#modal4' ).fadeIn( 300 );
      return false;
    });

    // ウィンドウを閉じる
    $( '.js-modal-close' ).on( 'click', function() {
      $( '.js-modal' ).fadeOut( 300 );
      return false;
    });

    $(".js-menu").on("click", function () {
        $(this).next().slideToggle();
    });

    // user1のチェックボックス確認
    $('.check1').on('change', function(){
      var yaku = "";

      $('.check1:checked').each(function() {
        yaku += $(this).val();
        yaku += ", ";
      });

      $('.check1 option:selected').each(function() {
        if ($(this).val()!=0) {
          yaku += $(this).parent().attr("name");
          yaku +="x";
          yaku += $(this).text();
          yaku += ", ";
        }
      });

      $('.show_selection_result.user1').text(yaku);
    });

    // user2のチェックボックス確認
    $('.check2').on('change', function(){
      var yaku = "";

      $('.check2:checked').each(function() {
        yaku += $(this).val();
        yaku += ", ";
      });

      $('.check2 option:selected').each(function() {
        if ($(this).val()!=0) {
          yaku += $(this).parent().attr("name");
          yaku +="x";
          yaku += $(this).text();
          yaku += ", ";
        }
      });

      $('.show_selection_result.user2').text(yaku);
    });

    // user3のチェックボックス確認
    $('.check3').on('change', function(){
      var yaku = "";

      $('.check3:checked').each(function() {
        yaku += $(this).val();
        yaku += ", ";
      });

      $('.check3 option:selected').each(function() {
        if ($(this).val()!=0) {
          yaku += $(this).parent().attr("name");
          yaku +="x";
          yaku += $(this).text();
          yaku += ", ";
        }
      });

      $('.show_selection_result.user3').text(yaku);
    });

    //user4のチェックボックス確認
    $('.check4').on('change', function(){
      var yaku = "";

      $('.check4:checked').each(function() {
        yaku += $(this).val();
        yaku += ", ";
      });

      $('.check4 option:selected').each(function() {
        if ($(this).val()!=0) {
          yaku += $(this).parent().attr("name");
          yaku +="x";
          yaku += $(this).text();
          yaku += ", ";
        }
      });

      $('.show_selection_result.user4').text(yaku);
    });


  });
/////////////////////////////////////////////////////


/////////////////////////////////////////////////////
//////
////
/                    haml
/                                               ////
/                                             //////
////////////////////////////////////////////////////

/////////////////////////////////////////////////////
//////
//           Majan Table and User Status
//                                             //////
/////////////////////////////////////////////////////
%h1 対局画面
-round = @game.get_ja_round

.main
  ///////////////////  User1 //////////////////////
  .user1{"data-target" => "modal"}
    -if @first_leader.name == @current_leader.name
      .name1.leader
        =@first_leader.name
      .point1
        =@first_leader_score.point
      .chip1 
        =@first_leader_score.chip
    -else
      .name1
        =@first_leader.name
      .point1
        =@first_leader_score.point
      .chip1 
        =@first_leader_score.chip
    
  ///////////////////  User2 //////////////////////
  .user2{"data-target" => "modal"}
    -if @second_leader.name == @current_leader.name
      .user2_sub
        .point2
          %p=@second_leader_score.point
        .chip2
          %p=@second_leader_score.chip
      .name2.leader
        %p=@second_leader.name
    -else
      .user2_sub
        .point2
          %p=@second_leader_score.point
        .chip2
          %p=@second_leader_score.chip
      .name2
        %p=@second_leader.name 
  
  ///////////////////  Main table //////////////////////
  .center
    %h1="#{round}#{@game.kyoku}局#{@game.honba}本場"
    %h1="供託：　#{@game.kyotaku}"
    %h3="親: #{@current_leader.name}"
  
  ///////////////////  User4 //////////////////////
  .user4{"data-target" => "modal"} 
    -if @fourth_leader.name == @current_leader.name
      .name4.leader
        %p=@fourth_leader.name
      .user4_sub
        .chip4
          %p=@fourth_leader_score.chip
        .point4  
          %p=@fourth_leader_score.point
    -else
      .name4
        %p=@fourth_leader.name
      .user4_sub
        .chip4
          %p=@fourth_leader_score.chip
        .point4  
          %p=@fourth_leader_score.point
      
  ///////////////////  User3 //////////////////////
  .user3{"data-target" => "modal"}
    -if @third_leader.name == @current_leader.name
      .name3.leader
        =@third_leader.name
      .point3
        =@third_leader_score.point
      .chip3
        =@third_leader_score.chip
    -else
      .name3
        =@third_leader.name
      .point3
        =@third_leader_score.point
      .chip3
        =@third_leader_score.chip



/////////////////////////////////////////////////////
//////
//        Modal and Accordion (Hand status)
//                                             //////
/////////////////////////////////////////////////////
-lid1 = @first_leader.id
-lid2 = @second_leader.id
-lid3 = @third_leader.id
-lid4 = @fourth_leader.id

-han_num = [0,1,2,3,4,5,6,7,8,9,10,11,12,13]
-hu_num = [0,20,25,30,40,50,60,70,80,90,100,110]
-naki_num = [0,1,2,3,4]
-stat_num = [han_num, hu_num, naki_num, naki_num, naki_num, naki_num, naki_num]

-value_tiles_num = [0,1,2,3,4]
-dora_num = [0,1,2,3,4,5,6,7,8,9,10]
-red_dora_num = [0,1,2,3]
-ura_dora_num = [0,1,2,3,4,5,6,7,8,9,10]
-han1_num = [value_tiles_num, dora_num, red_dora_num, ura_dora_num]

-han1 = ['reach', 'all_simples', 'all_runs', 'self_draw', 'first_turn_win', 'double_run', 'haitei', 'houtei', 'kings_tile_draw', 'add_a_quad']
-han1_selection = ['value_tiles', 'dora', 'red_dora', 'ura_dora']
-han2 = ['double_reach', 'seven_pairs', 'all_triples', 'three_color_runs', 'three_color_triples', 'three_concealed_triples', 'three_continuous_triples', 'three_quads', 'full_straight', 'mixed_outside_hand', 'all_terminals_and_honors', 'little_dragons']
-han3 = ['hand_flush', 'pure_outside_hand', 'two_double_runs']
-han6 = ['full_flush']
-han13 = ['thirteen_orphans', 'four_concealed_triples', 'four_continuous_triples', 'four_quads', 'small_four_winds', 'big_dragons', 'all_honors', 'all_terminals', 'all_green', 'nine_gates', 'blessing_of_earth', 'blessing_of_person', 'blessing_of_heaven']
-han26 = ['all_waitting_thirteen_orphans', 'suttan', 'big_four_winds', 'pure_nine_gates']
-stat = ['tenpai', 'open']
-stat_selection = ['han', 'hu', 'pon', 'chi', 'ankan', 'kakan', 'minkan']
-hans = [["１飜役", han1], ['2 飜役', han2], ['3 飜役', han3], ['6 飜役', han6], ['役満', han13], ['ダブル役満', han26], ['ステータス', stat]]

///////////////////  For User1 //////////////////////
#modal1.c-modal.js-modal 
  .c-modal_bg.js-modal-close 
  .c-modal_content
    .c-modal_content_inner
      %section.accordion
        -hans.each do |han|
          .menu.js-menu 
            #{han[0]}
          .contents 
            -han[1].each do |yaku|
              %label
                = check_box_tag "#{lid1}-#{yaku}", Hand.to_ja(yaku), false, class: "check1"
                = label_tag "#{lid1}-#{yaku}", Hand.to_ja(yaku)
            -if han[0] == "１飜役"
              %br
              -han1_selection.each_with_index do |yaku_selection, index|
                %label
                  = select_tag "#{lid1}-#{yaku_selection}", options_for_select(han1_num[index]), class:"check1", name: Hand.to_ja(yaku_selection)
                  = label_tag "#{lid1}-#{yaku_selection}", Hand.to_ja(yaku_selection)
            -if han[0] == "ステータス"
              -stat_selection.each_with_index do |stat_selection, index|
                %label
                  = select_tag "#{lid1}-#{stat_selection}", options_for_select(stat_num[index]), class:"check1", name: Hand.to_ja(stat_selection)
                  = label_tag "#{lid1}-#{stat_selection}", Hand.to_ja(stat_selection)
    
    .show_selection
      .show_selection_name
        %h5=@first_leader.name
      .show_selection_result.user1
        %p


///////////////////  For User2 //////////////////////
#modal2.c-modal.js-modal 
  .c-modal_bg.js-modal-close 
  .c-modal_content
    .c-modal_content_inner
      %section.accordion
        -hans.each do |han|
          .menu.js-menu 
            #{han[0]}
          .contents 
            -han[1].each do |yaku|
              %label
                = check_box_tag "#{lid1}-#{yaku}", Hand.to_ja(yaku), false, class: "check2"
                = label_tag "#{lid1}-#{yaku}", Hand.to_ja(yaku)
            -if han[0]== "１飜役"
              %br
              -han1_selection.each_with_index do |yaku_selection, index|
                %label
                  = select_tag "#{lid1}-#{yaku_selection}", options_for_select(han1_num[index]), class:"check2", name: Hand.to_ja(yaku_selection)
                  = label_tag "#{lid1}-#{yaku_selection}", Hand.to_ja(yaku_selection)
            -if han[0] == "ステータス"
              -stat_selection.each_with_index do |stat_selection, index|
                %label
                  = select_tag "#{lid1}-#{stat_selection}", options_for_select(stat_num[index]), class:"check2", name: Hand.to_ja(stat_selection)
                  = label_tag "#{lid1}-#{stat_selection}", Hand.to_ja(stat_selection)

    .show_selection
      .show_selection_name
        %h5=@second_leader.name
      .show_selection_result.user2
        %p




///////////////////  For User3 //////////////////////
#modal3.c-modal.js-modal 
  .c-modal_bg.js-modal-close 
  .c-modal_content
    .c-modal_content_inner
      %section.accordion
        -hans.each do |han|
          .menu.js-menu 
            #{han[0]}
          .contents 
            -han[1].each do |yaku|
              %label
                = check_box_tag "#{lid1}-#{yaku}", Hand.to_ja(yaku), false, class: "check3"
                = label_tag "#{lid1}-#{yaku}", Hand.to_ja(yaku)
            -if han[0]== "１飜役"
              %br
              -han1_selection.each_with_index do |yaku_selection, index|
                %label
                  = select_tag "#{lid1}-#{yaku_selection}", options_for_select(han1_num[index]), class:"check3", name: Hand.to_ja(yaku_selection)
                  = label_tag "#{lid1}-#{yaku_selection}", Hand.to_ja(yaku_selection)
            -if han[0] == "ステータス"
              -stat_selection.each_with_index do |stat_selection, index|
                %label
                  = select_tag "#{lid1}-#{stat_selection}", options_for_select(stat_num[index]), class:"check3", name: Hand.to_ja(stat_selection)
                  = label_tag "#{lid1}-#{stat_selection}", Hand.to_ja(stat_selection)

    .show_selection
      .show_selection_name
        %h5=@third_leader.name
      .show_selection_result.user3
        %p


///////////////////  For User4 //////////////////////
#modal4.c-modal.js-modal 
  .c-modal_bg.js-modal-close 
  .c-modal_content
    .c-modal_content_inner
      %section.accordion
        -hans.each do |han|
          .menu.js-menu 
            #{han[0]}
          .contents 
            -han[1].each do |yaku|
              %label
                = check_box_tag "#{lid1}-#{yaku}", Hand.to_ja(yaku), false, class: "check4"
                = label_tag "#{lid1}-#{yaku}", Hand.to_ja(yaku)
            -if han[0]== "１飜役"
              %br
              -han1_selection.each_with_index do |yaku_selection, index|
                %label
                  = select_tag "#{lid1}-#{yaku_selection}", options_for_select(han1_num[index]), class:"check4", name: Hand.to_ja(yaku_selection)
                  = label_tag "#{lid1}-#{yaku_selection}", Hand.to_ja(yaku_selection)
            -if han[0] == "ステータス"
              -stat_selection.each_with_index do |stat_selection, index|
                %label
                  = select_tag "#{lid1}-#{stat_selection}", options_for_select(stat_num[index]), class:"check4", name: Hand.to_ja(stat_selection)
                  = label_tag "#{lid1}-#{stat_selection}", Hand.to_ja(stat_selection)

    .show_selection
      .show_selection_name
        %h5=@fourth_leader.name
      .show_selection_result.user4
        %p
  



/////////////////////////////////////////////////////
//////
////
/                    debag
/                                               ////
/                                             //////
////////////////////////////////////////////////////

%p=@first_leader.to_json
%p=@second_leader.to_json
%p=@third_leader.to_json
%p=@fourth_leader.to_json
%p=@half_round.to_json
%p=@game.to_json
%p=@result.to_json
%p=@first_leader_score.to_json
%p=@second_leader_score.to_json
%p=@third_leader_score.to_json
%p=@fourth_leader_score.to_json

-member = [@first_leader, @second_leader, @third_leader, @fourth_leader]
=form_tag("/start/next_game", :method=>:post, :onsubmit=>"return false;", class:"") do
  -member.each do |leader|
    %span=leader.id 
    %span=leader.name
    %br
      -Hand.column_names.each_with_index do |h, index|
        - label = "#{leader.id}-#{h}"
        - if h == 'value_tiles'
          = select_tag label, options_for_select(value_tiles_num)
          = label_tag label, Hand.to_ja(h)
        - elsif h == 'dora' || h == 'red_dora' || h == 'ura_dora'
          = select_tag label, options_for_select(dora_num)
          = label_tag label, Hand.to_ja(h)
        - elsif h == 'han'
          = select_tag label, options_for_select(han_num)
          = label_tag label, Hand.to_ja(h)
        - elsif h == 'hu'
          = select_tag label, options_for_select(hu_num)
          = label_tag label, Hand.to_ja(h)
        - elsif h == 'pon' || h =='chi' || h == 'ankan' || h =='kakan' || h == 'minkan'
          = select_tag label, options_for_select(naki_num)
          = label_tag label, Hand.to_ja(h)
        - elsif h == 'id' || h == 'created_at' || h == 'updated_at'

        - else
          = check_box_tag label
          = label_tag label, Hand.to_ja(h)
    %br
  = hidden_field_tag "half_round_id", @half_round.id
  = hidden_field_tag "game_id", @game.id

  = select_tag "first_winner", options_for_select(user_name_options(options={"該当者なし": nil}))
  = label_tag "first_winner", "上がり(一人目)"
  = select_tag "second_winner", options_for_select(user_name_options(options={"該当者なし": nil}))
  = label_tag "second_winner", "上がり(二人目)"
  = select_tag "loser", options_for_select(user_name_options(options={"該当者なし": nil}))
  = label_tag "loser", "振込"
  = check_box_tag "drawn_game"
  = label_tag "drawn_game", "流局"
  = button_tag "データ送信", :type=>"button", :onclick=>"submit()", :class=>"btn btn-primary"

=form_tag("/result/show", :method=>:post, :onsubmit=>"return false;", class:"") do
  -member.each_with_index do |leader, i|
    = hidden_field_tag "leader_id_#{i+1}", leader.id

  = hidden_field_tag "half_round_id", @half_round.id
  = hidden_field_tag "game_id", @game.id
  
  = button_tag "終局", :type=>"button", :onclick=>"submit()", :class=>"btn btn-primary"